footer{
background:#07112b;
color:white;
text-align:center;
padding:50px 20px;
border-top:2px solid rgba(255,255,255,0.20);
margin-top:50px;
clear:both;
}

.footer-links{
margin-bottom:20px;
}

.footer-links a{
color:white;
text-decoration:none;
margin:0 15px;
font-size:18px;
font-weight:500;
}

.footer-links a:hover{
color:#60a5fa;
}

footer p{
color:white;
margin-top:10px;
}
